
.infoFooter {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  font-size: var(--md-typescale-body-small-size); /* Aplicar tamaño pequeño al info footer */
  text-transform: uppercase;
}

.left {
    justify-self: start;
}

.center {
    justify-self: center;
}

.right {
    justify-self: end;
}
