
/* Layout */
.heroSection {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--md-sys-color-background);
}

/* Imagen de Fondo */
.backgroundImageWrapper {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    will-change: clip-path;
    opacity: 0.5;
}

.backgroundImage::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(10, 10, 10, 0.7);
  z-index: 2;
}

/* Overlay y Texto */
.gridOverlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: var(--md-sys-spacing-xl);
    text-transform: uppercase;
}

.centerContent {
  display: grid;
  place-items: center;
}

.centerText {
  font-size: var(--md-typescale-display-large-size);
  font-weight: var(--md-typescale-display-large-weight);
  letter-spacing: var(--md-typescale-display-large-letter-spacing);
  white-space: nowrap;
  line-height: 1;
  color: var(--md-sys-color-on-background);
  z-index: 12;
  mix-blend-mode: difference;
}
