/* Layout Principal */
.footer {
  /* composes eliminado */
  padding: 4rem var(--md-sys-spacing-xl);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  row-gap: 1.5rem;
  text-transform: uppercase;
  margin-top: 20vh;
}

/* Columnas: Texto por defecto a 12px */
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: var(--md-typescale-body-small-size);
}

/* Redes Sociales */
.footer__social_links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: var(--md-typescale-body-small-size);
}

/* Copyright */
.footer__copyright {
  font-size: var(--md-typescale-body-small-size);
  grid-row: 2;
  grid-column: 1;
  align-self: end;
}

/* Call to Action */
.footer__column--right {
  /* composes eliminado */
  align-items: flex-end;
  justify-self: end;
  grid-column: 4;
  grid-row: 1 / span 2;
}

/* CTA Wrapper */
.footer__cta_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: flex-start;
}

/* Título del Call to Action */
.footer__cta_title {
  font-size: var(--md-typescale-headline-medium-size);
  line-height: var(--md-typescale-headline-medium-line-height);
  font-weight: var(--md-typescale-headline-large-weight);
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  text-align: right;
}

/* Responsividad */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 2rem var(--md-sys-spacing-lg);
  }

  .footer__column,
  .footer__column--right {
    grid-row: auto;
    text-align: center;
    align-items: center;
  }

  .footer__column--right {
    justify-self: center;
    grid-column: auto;
  }

  .footer__cta_wrapper {
    align-items: center;
  }

  .footer__cta_title {
    text-align: center;
  }

  .footer__copyright {
    grid-row: auto;
    grid-column: auto;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
