
.button {
  background-color: var(--md-sys-color-on-background);
  color: var(--md-sys-color-background);
  padding: 0.75rem 1.5rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  font-size: var(--md-typescale-body-medium-size); /* 14px for better legibility */
  text-transform: uppercase;
  transition: opacity 0.2s ease;
}

.button:hover {
    opacity: 0.8;
}
